*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input, select{
    border: 1px solid rgb(243, 198, 198);
    border-radius: 10px;
    padding: 5px;
}

p{
    margin-left: 20px;
}

.nav{
    height: 80px;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.logo h1{
    color: black;
}

.search-area input {
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.search-area button {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.hero{
    height: 400px;
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button button{
    border: none;
    border-radius: 10px;
    padding: 7px;
    margin: 7px;
    font-size: 14px;
    padding: 10px;
}

.button button:hover{
    background-color: orangered;
    color: white;
}

.com{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.com p{
    text-align: justify;
}

.head h1{
    margin: 10px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 20px;
}

.card{
    height: 300px;
    width: 26%;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgb(179, 228, 179);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    height: 120px;
    width: 50%;
    border-radius: 50%;
    box-shadow: 3px 3px 3px 3px rgb(228, 247, 228);

}

.card p{
    text-align: justify;
    padding: 10px;
}

.footer{
    height: 40px;
    background-color: rgb(4, 4, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}